.button {
    width: 80px;
    height: 36px;
    border: none;
    border-radius: 8px;
    background-color: #00AE1C;
    color: white;
    position: absolute;
    top: calc(50% - 20px);
    right: 16px;
}
.button:hover {
    background-color: #0CD52B;
    cursor: pointer;
}